@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --grey: #E1E1E6;
}

body {
    background-color: grey;
    color: var(--grey);
    display: grid;
    font-family: 'Roboto', sans-serif;
    place-items: center;
}

main {
    background: url("../../images/background.png");
    height: 812px;
    width: 375px;
}

.container {
    margin: auto;
    max-width: 300px;
    text-align: center;
}

.avatar {
    margin-top: 184px;
    position: relative;
}

.avatar > span {
    position: absolute;
    top: -15px;
    /* Trás o selo para frente da imagem de perfil. */
    z-index: 1;
}

.profile-picture {
    /* Permite a criação de figuras geométricas complexas. */
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    height: 184px;
    /* Cobre uma parte da imagem para corrigir seu esticamento. */
    object-fit: cover;
    width: 160px;
}

.personal {
    margin: 24px 0 32px 0;
}

.personal > h1 {
    margin-bottom: 10px;
}

.personal > a {
    display: flex;
    gap: 12px;
    justify-content: center;
}

a {
    color: var(--grey);
    text-decoration: none;
}

.description {
    line-height: 1.75em;
    margin-bottom: 64px;
}

.social-medias > ul {
    display: flex;
    gap: 10px;
    justify-content: center;
    list-style: none;
}